.gradient-border-form {
      position: relative;
      padding: 1px;border-radius: 1.125rem;background: linear-gradient(145deg, #34a853, #f97316);
      overflow: hidden;}
  .dark .gradient-border-form {
      background: linear-gradient(145deg, #34a853, #f97316);
  }
   .gradient-border-form:focus-within {
    background: linear-gradient(145deg, #4ad174, #ff8c42);
  }
  .inner-form-content {
      background-color: #f5f5f7;border-radius: calc(1.125rem - 1px);
  }
  .dark .inner-form-content {
      background-color: #28282b;}
  .inner-form-content input {
      background-color: transparent;
      border: 0;
      outline: 0;
      box-shadow: none;
  }
  .inner-form-content input:focus {
      ring: 0 !important;
      box-shadow: none !important;
  }