.dd-container {
  width: 100%;
  height: 88px;
  overflow: hidden;
  position: relative;
}

.dd-colors {
  position: relative;
  width: 100%;
  height: 100%;
}

.dd-color {
  filter: blur(20px);
  position: absolute;
  will-change: transform;
  transform: translate3d(0px, 0px, 0px);
  border-radius: 50%;
  filter: blur(17px);
}

.dd-blue {
  width: 60vw;
  height: 75px;
  top: -100px;
  left: 0px;
  background: rgb(0, 160, 255);
  animation: 1s ease 0.2s 1 normal forwards running blue-animation;
}

.dd-orange {
  width: 50vw;
  height: 50px;
  top: -75px;
  right: 0px;
  background: rgb(250, 130, 56);
  animation: 1.5s ease-out 0.5s 1 normal forwards running orange-animation;
}

.dd-yellow-orange {
  width: 25vw;
  height: 150px;
  top: -200px;
  right: 30%;
  background: linear-gradient(90deg, rgb(241, 232, 200), rgb(241, 232, 200), rgb(241, 232, 200), rgb(253, 181, 69), rgb(253, 181, 69), rgb(250, 130, 56));
  animation: 1.2s ease-in-out 0s 1 normal forwards running yellow-orange-animation;
}

.dd-blue-yellow {
  width: 15vw;
  height: 150px;
  top: -200px;
  left: 35vw;
  background: linear-gradient(90deg, rgb(0, 160, 255), rgb(145, 218, 252), rgb(145, 218, 252), rgb(241, 232, 200), rgb(241, 232, 200));
  animation: 2s ease-in-out 0s 1 normal forwards running blue-yellow-animation;
}

/* Animations */
@keyframes blue-animation {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 50px, 0px);
  }
}

@keyframes orange-animation {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 40px, 0px);
  }
}

@keyframes yellow-orange-animation {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 80px, 0px);
  }
}

@keyframes blue-yellow-animation {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 90px, 0px);
  }
}
