/* You can add global styles to this file, and also import other style files */
@import './styles/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for carousel */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
